# Use https://stackoverflow.com/a/38316441/112682
# instead of `use node` (which does not support aliases in .nvmrc)
# because https://github.com/direnv/direnv/issues/319
nvmrc="$HOME/.nvm/nvm.sh"
if [ -e "$nvmrc" ]
then
  source "$nvmrc"
  nvm use
fi

# adds node_modules/.bin to PATH
layout node
