# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.15
          cache: 'npm'

      - run: npm ci
      - run: npm format:check
      - run: npm lint
      - run: npm types:check
      - run: npm run build --if-present
      - run: npm test
